  
button{
   
   
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    
    outline: none;
    color: var(--bkanc);
    background-color: var(--orange);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}



.button:active {
    background-color: var(--noir);
    color: var(--orange);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

