
body {
   
    background-color: black;
  
    
  }




.case{
   margin: 5%;
   color: var(--orange);
   font-weight: 500;
   display: flex;
   justify-content: space-evenly;
   
   
   
   
 }

 input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid rgb(0, 0, 0);
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: var(--orange);
  border-color: var(--orange);
  color: black;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}



.encerclement{
  border: 5px solid var(--orange);
  margin: 10px;
  border-radius: 30%;
  margin-bottom: 30px;
}