footer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 88px;
}

footer p {
    color: var(--noir);
    display: flex;
    font-weight: 800;
    font-family: var(--quick);

}

.résau{
padding: 2%;
}