
.search-box {
    position: absolute;
    top: 47%;
    left: 51%;
    
   
    transform: translate(-50%, -50%);
    background: white;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
  }
  .search-box:hover > .search-txt {
    width: 460px;
    padding: 0 6px;
    text-align: center;
  }
  .search-box:hover > .search-btn {
    background: var(--orange);
    color: white;
  }
  .search-btn {
 
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    transition: 1s;
    color: white;
    
    text-decoration: none;
  }
  .search-btn > i {
    font-size: 20px;
  }
  .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
  }
.lope{
  align-items: center;
  width: 50%;
}

