.img_bw{
    z-index: -5;
    
}

img {
    max-width: 100%;
}

.barre_o{
    display: flex;
    z-index: -5;
    position: absolute;
    top: 20%;
    left: 66%;
}

.down{
    width: 10%;
    /* position: absolute;
    top: 85%;
    left: 48.5%;   */
}


  