.img_bw{
    z-index: -5;
    
}

.barre_o{
    display: flex;
    z-index: -5;
    position: absolute;
    top: 20%;
    left: 66%;
}

.down{
    width: 5%;
    position: absolute;
    top: 85%;
    left: 48.5%;  
}

.lp{
    width: 28%;
    z-index: -2;
    position: absolute;
    top: 148%;
    left: 37%;
}
  