.img_bw{
    z-index: -5;
    
}

.barre_o{
    display: flex;
    z-index: -5;
    position: absolute;
    top: 10%;
    left: 66%;
}

.down{
    width: 10%;
    position: absolute;
    top: 35%;
    left: 45%;  
}
  