

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url("/src/css/variable.css");
@import url("/src/css/Fond.css");
@import url("/src/css/footer.css");
@import url("/src/css/typo.css");
@import url("/src/css/Media.css");

@import url("/src/css/loupe.css");
@import url("/src/css/barre.css");

@import url("/src/css/position.css");