

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* layout */

@import url("/src/css/utils/variable.css");

/* base */

@import url("/src/css/base/Fond.css");
@import url("/src/css/base/position.css");


/* layout  */

@import url("/src/css/layout/footer.css");

/* componant */

@import url("/src/css/componant/bouton.css");
@import url("/src/css/componant/loupe.css");
@import url("/src/css/componant/Media.css");
@import url("/src/css/componant/typo.css");


