 h1,h2,h3,h4,h5,h6,p
 {
    font-family: var(--quick);
 }

 h1{
    color: white;
    display: flex;
    justify-content: center;
    
    font-weight: 700;
    font-size: 65px;
    position: absolute;
    top: 25%;
    left: 38%;

  }
  .motc{
    color: var(--orange);
  }

  p{
    color: white;
    text-align: center;
    font-weight: 200; 
  }

  h3
  {
    color: silver;
    font-size: 40px;
    position: relative;
    top: 55%;
    text-align: center;
  }




  .box2
  {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    }


     

  .p_logo{
    position: absolute;
    top: 65%;
    left: 35%;
    border: 20px solid white

  }
  .section{
    margin: 10%;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

  }

  .sous_section01{
    /* border: 2px solid green; */
    z-index: 1;
  }

  /* .text_haut_droit{
    border: 2px solid white;
  } */

  .text_haut_gauche{
    /* border: 2px solid rgb(0, 195, 255); */
    grid-column-end: -1;
  }

  
  .text_bas_droit{
    /* border: 2px solid rgb(186, 253, 0); */
    grid-column-start:3 ;
    grid-row-start:3 ;
    
  }

  .text_bas_gauche{
    /* border: 2px solid rgb(215, 14, 255); */
    grid-column-start:1 ;
    grid-row-start:3 ;
  }
/*  
  .bloc_image{
    border: 2px solid yellow;
  }
  */

  .bloc_image{
   grid-row-start: 2;
   grid-column-start: 2 ;
   width: 100%;
  }