 h1,h2,h3,h4,h5,h6,p
 {
    font-family: var(--quick);
 }

 h1{
    color: white;
    display: flex;
    justify-content: center;
    
    font-weight: 600;
    font-size: 55px;
    position: absolute;
    top: 10%;
    left: 40%;

  }
  .titre{
    color: var(--orange);
  }

  p{
    color: white;
    text-align: center;
    font-weight: 200; 
  }

  h3
  {
    color: silver;
    font-size: 40px;
    position: relative;
    top: 55%;
    text-align: center;
  }




  .box2
  {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    }


     

  