:root{


/* Color styles */
--orange: rgba(255, 140, 0, 1);
--blanc: rgba(255, 255, 255, 1);
--noir: rgba(23, 23, 23, 1);

/* Text-size styles */
--fin: 30px;
--medium: 50px;
--titre: 100px;

 /*Font-family styles*/
 --quick:'Quicksand';



}